footer{
    padding-bottom: 2rem;
    color: white;
    background-color: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
    padding-inline: 10px;
}
