.txt__bienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 150px;

}

.txt__bienvenida h4 {
    color: black;
    padding-inline: 15px;
    
}

.txt__bienvenida p,i {
    text-align: center;
}


section{
    text-align: center;
    }