.redes  { 
    padding-bottom: 1rem;
    width: 45;
    text-align: right;
    margin-right: 20px;
    padding-top: 20px;
}

$sociales: (
    facebook: blue,
    instagram: rgb(255, 92, 119),
    whatsapp: green
);


@each $redsocial, $color in $sociales {
    .ico-#{$redsocial} {
        background-color: $color;
    }
}


.ico-facebook {
    border-radius: 4px;

    &:hover {
        background-color: rgb(255, 0, 0);
    }
    
}

.ico-whatsapp {
    @extend .ico-facebook;
}


.ico-instagram {
    @extend .ico-facebook;
}